//- Все примеси в этом файле должны начинаться c имени блока (catalog-slider)

mixin catalog-slider(props={}, mods)

  //- Принимает:
  //-   props    {object} - параметры
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +catalog-slider('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' catalog-slider--' + modsList[i].trim();
      }
    }

  .catalog-slider.swiper(class=allMods)&attributes(attributes)
    .catalog-slider__inner.swiper-wrapper
      block
    .catalog-slider__navigation
      button.catalog-slider__nav.catalog-slider__nav--prev
      button.catalog-slider__nav.catalog-slider__nav--next


mixin catalog-slider-item(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' catalog-slider__item--' + modsList[i].trim();
      }
    }

  .catalog-slider__item.swiper-slide(class=allMods)&attributes(attributes)
    block
