// В этом файле должны быть стили для БЭМ-блока field-select, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority


.field-select {

  $block-name:                &; // #{$block-name}__element

  display: block;

  &__name {
    @include field-name;
  }

  &__select-wrap {}

  .form-find & {
    margin-bottom: 25px;

    &:first-child {
      z-index: 10;
    }
    &:nth-child(2) {
      z-index: 9;
    }
    &:nth-child(3) {
      z-index: 8;
    }
    &:nth-child(4) {
      z-index: 7;
    }
    &:nth-child(5) {
      z-index: 6;
    }

    @media (min-width: $screen-lg) {
      width: 48%;
      margin-bottom: 0;
      margin-bottom: 20px;
    }

    @media (min-width: $screen-xl) {
      width: 0;
      flex-grow: 1;
      margin-right: 10px;
      margin-bottom: 0;
    }

    @media (min-width: $screen-3xl) {
      margin-right: 20px;
    }
  }

  // Оформление штатного селекта
  // &__select {
  //   display: inline-block;
  //   vertical-align: middle;
  //   width: 100%;
  //   line-height: $line-height;
  //   padding: $field-padding-vertical $field-padding-horizontal;
  //   padding-right: 35px;
  //   font-size: inherit;
  //   font-family: inherit;
  //   border: 1px solid $border-color;
  //   border-radius: $border-radius;
  //   appearance: none;
  //   background-color: #fff;

  //   &[multiple] {
  //     background-image: none;
  //     min-height: 6.8em;
  //   }

  //   &::-ms-expand {
  //     display: none;
  //   }

  //   &:active,
  //   &:focus {
  //     @include field-focus;
  //   }

  //   &[disabled],
  //   &[readonly] {
  //     cursor: default;
  //     background-color: $gray-lightest;
  //   }
  // }

  &__help-text {
    @include field-help-text;
  }

  &--error {
    color: $color-danger;

    #{$block-name}__name,
    #{$block-name}__select,
    #{$block-name}__help-text {
      color: $color-danger;
    }

    #{$block-name}__select,
    .choices__inner,
    .choices:after {
      border-color: $color-danger;
      background-color: lighten($color-danger, 35%);
    }
  }
}



/** @define choices */
.choices {

  $block-name:                &; // #{$block-name}__element

  position: relative;

  &:focus {
    outline: none;

    &:not(.is-disabled) {

      #{$block-name}__inner {
        @include field-focus;
      }
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 26px;
    right: 20px;
    width: 12px;
    height: 6px;
    // border-left: 2px solid #3B5566;
    // border-bottom: 2px solid #3B5566;
    pointer-events: none;
    transition: all 0.3s;
    background-image: url('/img/arrow-down.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
  }

  &.is-open:after {
    transform: rotate(180deg);
  }

  .is-hidden {
    display: none;
  }

  &__inner {
    position: relative;
    border-radius: 66px;
    padding: 12px 46px 13px 24px;
    background-color: $tw-gray-50;
    font-size: 1em;
    line-height: 1.5;
    box-shadow: none !important;
    cursor: pointer;
    z-index: 2;

    #{$block-name}__item--selectable {
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-family: 'OpenSans';
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    color: $tw-slate-600;

    i {
      margin-right: 5px;
      flex-shrink: 0;
    }
  }

  &__list--dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    width: 100%;
    margin-top: -35px;
    padding-top: 35px;
    padding-bottom: 15px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: $tw-gray-50;
    word-break: break-all;
    overflow: hidden;

    #{$block-name}__item {
      padding: $field-padding-vertical $field-padding-horizontal;
      cursor: pointer;

      &.is-highlighted {
        background: $gray-lightest;
      }
    }

    #{$block-name}__item {
      padding-left: 27px !important;
    }

    .choices__placeholder {
      display: none;
    }
  }

  &__heading {
    padding: $field-padding-vertical $field-padding-horizontal;
    font-size: $font-size-sm;
    font-weight: 700;
    opacity: 0.5;
    cursor: default;
  }

  &.is-open {

    #{$block-name}__list--dropdown {
      display: block;
    }
  }

  &.is-disabled {

    #{$block-name}__inner {
      background-color: $gray-lighter;
      cursor: default;
    }
  }
}
