// В этом файле должны быть стили для БЭМ-блока modal, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority



.modal {

  $block-name: &; // #{$block-name}__element

  display: none;

  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  z-index: 100;

  &.is-open {
    display: block;
  }


  &__overlay {
    position: fixed;
    top: 61px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;

    @media (min-width: $screen-lg) {
      top: 71px;
    }
  }

  &__container {
    padding: 30px 20px;
    width: 95%;
    max-width: 1400px;
    max-height: 90vh;
    border-radius: 24px;
    overflow-y: auto;
    background-color: $body-bg;
    box-sizing: border-box;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.3);

    @media (min-width: $screen-3xl) {
      padding: 30px 40px;
    }
  }

  &__inner {

  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 10px;

    @media (min-width: $screen-lg) {
      margin-bottom: 20px;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 25px;
    box-sizing: border-box;

    @media (min-width: $screen-lg) {
      @apply text-36px;
    }
  }

  &__close {
    background: transparent;
    border: 0;
    width: 23px;
    height: 23px;
  }


  &__content {
  }

  &__btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0, 0, 0, .8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out, -webkit-transform .25s ease-out;
  }

  &__btn:focus,
  &__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  &__btn-primary {
    background-color: #00449e;
    color: #fff;
  }
}
