-
  var mainMenu = [
    {
      "id": "0",
      "name": "",
      "url": ""
    },
    {
      "id": "10",
      "name": "Каталог",
      "url": "#popular",
    },
    {
      "id": "20",
      "name": "О нас",
      "url": "#block_64"
    },
    {
      "id": "30",
      "name": "Как купить",
      "url": "#block_65"
    },
    {
      "id": "40",
      "name": "Отзывы",
      "url": "#block_66"
    },
    {
      "id": "50",
      "name": "Кредит/лизинг",
      "url": "#block_67"
    },
    {
      "id": "60",
      "name": "Фото/видео",
      "url": "#block_gallary"
    },
    {
      "id": "70",
      "name": "Контакты",
      "url": "#contacts"
    },
  ];
