-
  var mainMenu = [
    {
      "id": "0",
      "name": "",
      "url": ""
    },
    {
      "id": "10",
      "name": "Каталог",
      "url": "#catalog",
    },
    {
      "id": "20",
      "name": "О нас",
      "url": "#about"
    },
    {
      "id": "30",
      "name": "Как купить",
      "url": "#howtobuy"
    },
    {
      "id": "40",
      "name": "Отзывы",
      "url": "#reviews"
    },
    {
      "id": "50",
      "name": "Кредит/лизинг",
      "url": "#credit"
    },
    {
      "id": "60",
      "name": "Фото/видео",
      "url": "#media"
    },
    {
      "id": "70",
      "name": "Контакты",
      "url": "#contacts"
    },
  ];
