// В этом файле должны быть стили для БЭМ-блока gallery-video, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.gallery-video {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__thumb {
    margin-right: 20px;

    &:last-child {
      margin-right: 20px;
    }
  }
}
