// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  position: sticky;
  top: 0;
  background-color: transparent;
  border-bottom: 1px solid $tw-gray-400;
  z-index: 9999;

  @media (min-width: $menu-desktop-width) {
    border-bottom-color: transparent;
  }

  @media (max-width: $screen-xl - 1) {
    background-color: $body-bg;
  }

  .scrolled & {
    background-color: $body-bg;
    border-bottom-color: $tw-gray-400;
  }

  &__inner {
    display: flex;
    align-items: center;
    height: 154px;
    transform: translate3d(0,0,0);
    -webkit-filter: blur(0);
    transition: height 0.8s;


    &.container {
      @media (max-width: ($menu-desktop-width - 1)) {
        max-width: none;
      }
    }

    .logo__img {
      transition: transform 0.8s;
      transform: translate3d(0,0,0);
      -webkit-filter: blur(0);

      @media (max-width: ($menu-desktop-width - 1)) {
        display: none;
      }
    }

    .logo__caption {
      transition: transform 0.8s;
    }

    .scrolled & {
      height: 50px;

      .logo__img {
        transform: scale(0.01) translateY(0px);
      }

      .logo__caption {
        transform: scale(1.2) translateY(-25px);
      }
    }

    @media (max-width: ($screen-lg - 1)) {
      height: 50px;

      .logo__img {
        transform: scale(0) translateY(0px);
      }

      .logo__caption {
        transform: scale(1) translateY(0) !important;
      }
    }
  }
}
