@mixin hide-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin title-block {
  position: absolute;
  top: 0;
  padding: 15px 25px;
  font-family: 'Oswald';
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  line-height: 1;
  text-transform: uppercase;
  transform: translateY(-50%);

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $tw-blue-800;
    border-radius: 5px;
    z-index: -1;
    transform: skew(-10deg);
  }
}

@mixin background-text {
  position: relative;

  &::before {
    content: attr(data-backtext);
    position: absolute;
    height: 296px;
    width: 100%;
    font-family: 'Oswald';
    font-size: 300px;
    font-weight: 700;
    line-height: 0.9;
    letter-spacing: -0.06em;
    text-transform: uppercase;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    color: transparent;
  }
}
