// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority


@mixin btn {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 0;
  border-radius: 54px;
  border: 0;
  padding: $field-padding-vertical  $field-padding-horizontal;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  text-align: center;
  font-family: 'OpenSans';
  font-weight: 500;
  font-size: 18px;
  line-height: $line-height;
  text-decoration: none;
  text-transform: none;
  color: $text-color;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
  overflow: hidden;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $tw-black;
  }

  &:active,
  &:focus {
    @include field-focus;
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    // border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }
}

@mixin btn-primary {
  padding: 15px 42px;
  font-weight: 600;
  background-color: $tw-orange-500;
  box-shadow: 0px 8px 16px -5px rgba(255, 115, 0, 0.11);
  text-transform: uppercase;
  color: #fff;

  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background-color: $tw-orange-600;
  }
}

.btn {
  @include btn;

  &--primary {
    @include btn-primary;
  }

  &--regular {
    padding: 12px 30px 13px 30px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: $tw-gray-600;
    background-color: transparent;
    border: 1px solid $tw-gray-600;
    border-radius: 70px;

    &:hover,
    &:focus,
    &:active {
      color: #fff;
      background-color: $tw-gray-600;
    }
  }

  &--secondary {
    padding: 14px 24px;
    font-family: 'OpenSans';
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    color: #fff;
    border-radius: 0;
    background-color: $tw-blue-800;

    &:hover,
    &:focus {
      color: #fff;
      background-color: $tw-blue-900;
    }
  }

  &--secondary-gray {
    background-color: $tw-gray-400;

    &:hover,
    &:focus {
      color: #fff;
      background-color: $tw-gray-500;
    }
  }

  &--submit {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 22px 32px;
    font-family: 'OpenSans';
    font-weight: 600;
    font-size: 28px;
    color: #fff;
    border-radius: 0;
    background: linear-gradient(270deg, #005E9D -4.57%, #16009D 92.99%);

    &:hover,
    &:focus {
      color: #fff;
      background: linear-gradient(270deg, $tw-blue-900 -4.57%, $tw-blue-800 92.99%);
    }
  }

  &--clean {
    padding: 0;
    border-radius: 0;
  }

  &--icon {
    display: flex;
    align-items: center;

    svg {
      margin-left: 10px;
      stroke: currentColor;
      fill: currentColor;
    }
  }
}
