//- Стандартный шаблон страницы

include mixins.pug

doctype html
html(class='page  no-js', lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')
    //- Фавиконки (https://realfavicongenerator.net)
    //- link(rel='apple-touch-icon', sizes='180x180', href='/img/favicon/apple-touch-icon.png')
    //- link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon/favicon-32x32.png')
    //- link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon/favicon-16x16.png')
    //- link(rel='manifest', href='/img/favicon/site.webmanifest')
    //- link(rel='mask-icon', href='/img/favicon/safari-pinned-tab.svg', color='#5bbad5')
    //- meta(name='msapplication-TileColor', content='#5bbad5')
    //- meta(name='theme-color', content='#000')
    //- meta(name='msapplication-navbutton-color', content='#000')
    //- meta(name='apple-mobile-web-app-status-bar-style', content='#000')

    block meta
      title Home

    block head
      link(rel='stylesheet', href='css/style.css')
      script
        include ../js/head-script.js

  body
    noscript У вас отключен JavaScript. Это пугает.

    .page__inner
      .page__content

        +page-header()
          +logo('/','lg')
            img(src='img/demo-logo.svg', alt='Logo', width='64', height='15')
          block nav

        block content
          p содержимое

      .page__footer-wrapper
        +page-footer()
          .page-footer__section
            .page-footer__title Quick Links
            a(href='#').nav-arrow__item Home
            a(href='#').nav-arrow__item Our Products
            a(href='#').nav-arrow__item Pricing
            a(href='#').nav-arrow__item Blog
            a(href='#').nav-arrow__item About
            a(href='#').nav-arrow__item Contact
          .page-footer__section
            .page-footer__title Information
            a(href='#').nav-arrow__item FAQ’s
            a(href='#').nav-arrow__item Pricing Plans
            a(href='#').nav-arrow__item Order Track
            a(href='#').nav-arrow__item Your Order
            a(href='#').nav-arrow__item Returns
            a(href='#').nav-arrow__item Privacy Policy
            a(href='#').nav-arrow__item Terms & COnditions
          .page-footer__section
            .page-footer__title Support
            a(href='#').nav-arrow__item My Account
            a(href='#').nav-arrow__item Terms of Use
            a(href='#').nav-arrow__item Deliveries & Returns
            a(href='#').nav-arrow__item Gift Card
          .page-footer__section.page-footer__section--contacts
            .page-footer__title Contact
            a(href='#').page-footer__contact-item.page-footer__contact-item--mail
              i.fa-regular.fa-envelope
              span hello@foreveryoung.com
            a(href='#').page-footer__contact-item.page-footer__contact-item--phone
              i.fa-solid.fa-phone
              span +1.878.433.294
            a(href='#').page-footer__contact-item.page-footer__contact-item--address
              i.fa-solid.fa-location-dot
              span 1428 Chritopher Lane Florida, US 4259
          .page-footer__section.page-footer__section--subscribe
            .page-footer__title Subcribe Newsletter
            p Hurry, provide your email id & subscribe our newsletter to stay updated
            form
              +field-text({
                mods: 'arrow-right',
                name: 'subscribe-email',
                attrs: {
                  placeholder: 'Email ID'
                }
              })
        .page-footer__bottom
          .container
            span.page-footer__copyright Copyright © 2020. All Rights Reserved.
            .page-footer__socials
              .page-footer__socials-text
                span Социальные сети
                <svg class="icon" width="60" height="7"><use xlink:href="/img/sprite.svg#arrow-right"></use></svg>
              .page-foooter__socials-list
                a(href='https://vk.com').page-footer__social-link.page-footer__social-link--vk
                  i.fa-brands.fa-vk


    block page-bottom
      script(src='js/bundle.js')
