// В этом файле должны быть стили для БЭМ-блока tabs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.tabs {

  $block-name:                &; // #{$block-name}__element

  margin-top: $typo-margin-vertical;
  margin-bottom: $typo-margin-vertical;

  &--catalog {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    color: $tw-gray-600;

    @media (min-width: $screen-lg) {
      flex-direction: row;
      margin-top: 115px;
    }

    @media (min-width: $screen-xl) {
    }

    #{$block-name}__tab-content {
      margin-top: 20px;

      @media (min-width: $screen-lg) {
        margin-top: -130px;
      }
    }
  }

  &--product-info {

  }

  &__nav {

    #{$block-name}--catalog & {
      display: flex;
      flex-direction: column;
      margin-right: 30px;
      width: 300px;
      flex-shrink: 0;

      @media (min-width: $screen-md) {
        flex-direction: row;
        width: auto;
      }

      @media (min-width: $screen-lg) {
        width: 300px;
        flex-direction: column;
        margin-right: 30px;
      }
    }

    #{$block-name}--product-info & {
      margin-bottom: 15px;
    }
  }

  &__link {
    margin-bottom: 10px;
    padding: 0 !important;
    text-align: left;
    font-size: 20px;
    color: $tw-gray-600 !important;
    background-color: transparent !important;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    cursor: pointer;

    @media (min-width: $screen-md) {
      margin-right: 20px;
    }

    @media (min-width: $screen-xl) {
      margin-right: 0;
      margin-bottom: 32px;
      font-size: 24px;
    }

    &.active,
    &:hover,
    &:focus,
    &:active {
      color: $tw-orange-500 !important;
      font-weight: 600;
      letter-spacing: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    #{$block-name}--product-info & {
      margin-bottom: 0;
      margin-right: 20px;
      font-weight: 600;
      color: $tw-slate-550 !important;
      letter-spacing: 0;
      opacity: 0.3;

      &.active,
      &:hover,
      &:focus,
      &:active {
        color: $tw-slate-550 !important;
        opacity: 1;
      }
    }


  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;

    &:after {
      content: '';
      display: none;
      flex-grow: 1;
      height: 1px;
      background-color: $border-color;

      @media (min-width: $screen-md) {
        display: block;
      }
    }

    .no-js & {
      display: none;
    }
  }

  &__link-wrap {
    position: relative;
    margin: 0 0.3em 0.3em 0;
    border: 1px solid $border-color;
    color: $text-color-muted;

    @media (min-width: $screen-md) {
      margin: 0;

      &:not(:last-child) {
        border-right: none;
      }
    }

    &--active {
      color: $text-color;

      @media (min-width: $screen-md) {
        border-bottom: 1px solid transparent;
      }

      #{$block-name}__link {
        background-color: #fff;
      }
    }
  }

  &__link {
    display: block;
    padding: $field-padding-vertical $field-padding-horizontal;
    color: currentColor;
    text-decoration: none;
    background-color: $gray-lightest;

    &:hover,
    &:focus {
      color: currentColor;
    }

    .product-info & {
      font-family: 'Oswald';
      font-weight: 700;
      font-size: 32px;
    }
  }

  &__tab-content {
    flex-grow: 1;
    min-width: 0;

    .product-info & {
      font-family: 'OpenSans';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.2;
      color: $tw-slate-550;
    }
  }

  &__content-wrapper {
    display: block;
    border: 1px solid $border-color;
    padding: $field-padding-vertical $field-padding-horizontal;

    @media (min-width: $screen-md) {
      border-top: none;
    }
  }

  &__content-item {

    .js & {
      display: none;
    }

    & > *:last-child { // stylelint-disable-line  selector-combinator-blacklist
      margin-bottom: 0;
    }

    &--active {

      .js & {
        display: block;
      }
    }
  }
}
