extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block nav
  +burger('Показать главное меню', 'nav', 'main-nav--open')(class='main-nav__toggler')
  +main-nav('10')
  +phone

block content
  section.container
    .banner-top
      +main-slider()
        +main-slider-item()
          .main-slider__item-text
            .main-slider__item-tagline Engineering Service Company
            h2.main-slider__item-title Rent your <span>machine</span>
            +btn('Reserve Now','primary')
          .main-slider__item-img
            img(src='/img/TB604-cabin.jpg' alt='TB604')
        +main-slider-item()
          h1 Item 2
          p Some text
        +main-slider-item()
          h1 Item 3
          p Some text
  section.section-find.section-container#catalog
    .section-title
      .section-title__num 01
      .section-title__caption Найди свой <span>лучший трактор</span>
    +form()(class='form-find')
      .form-find__title Подобрать спецтехнику
      .form-find__inner
        +field-select(
          '',
          {
            name: 'testselect',
            id: 'select-demo',
            'data-icon': 'tractor'
          },
          [
            {
              title: 'Мощность',
              attrs: {
                value: '',
                selected: 'true'
              }
            },
            {
              title: 'Опция1',
              attrs: {
                value: 'val01',
              }
            },
            {
              title: 'Опция2',
              attrs: {
                value: 'val02',
              }
            }
          ],
          '',
          'power'
        )
        +field-select(
          '',
          {
            name: 'select',
            id: 'select-demo',
            'data-icon': 'tractor'
          },
          [
            {
              title: 'Тяговое усилие',
              attrs: {
                value: '',
                selected: 'true'
              }
            },
            {
              title: 'Опция1',
              attrs: {
                value: 'val01',
              }
            },
            {
              title: 'Опция2',
              attrs: {
                value: 'val02',
              }
            }
          ],
          '',
          'effort'
        )
        +field-select(
          '',
          {
            name: 'select',
            id: 'select-demo',
            'data-icon': 'tractor'
          },
          [
            {
              title: 'Сила подъема навески',
              attrs: {
                value: '',
                selected: 'true'
              }
            },
            {
              title: 'Опция1',
              attrs: {
                value: 'val01',
              }
            },
            {
              title: 'Опция2',
              attrs: {
                value: 'val02',
              }
            }
          ],
          '',
          'force'
        )
        +field-select(
          '',
          {
            name: 'select',
            id: 'select-demo',
            'data-icon': 'tractor'
          },
          [
            {
              title: 'Масса',
              attrs: {
                value: '',
                selected: 'true'
              }
            },
            {
              title: 'Опция1',
              attrs: {
                value: 'val01',
              }
            },
            {
              title: 'Опция2',
              attrs: {
                value: 'val02',
              }
            }
          ],
          '',
          'mass'
        )
      +btn('Подобрать','primary')(class='form-find__submit')
  section.section-catalog.section-container
    .section-title
      .section-title__num 02
      .section-title__caption Популярные модели <span>спецтехники</span>
    .tabs.tabs--catalog
      .nav.nav-pills.tabs__nav(role="tablist" aria-orientation="vertical")
        .tabs__link.nav-link.active#v-pills-tab-01(data-bs-toggle="pill" data-bs-target="#v-pills-01" type="button" role="tab" aria-controls="v-pills-01" aria-selected="true") Коммунальные
        .tabs__link.nav-link#v-pills-tab-02(data-bs-toggle="pill" data-bs-target="#v-pills-02" type="button" role="tab" aria-controls="v-pills-02" aria-selected="false") Сельскохозяйственные
        .tabs__link.nav-link#v-pills-tab-03(data-bs-toggle="pill" data-bs-target="#v-pills-03" type="button" role="tab" aria-controls="v-pills-03" aria-selected="false") Строительные
        .tabs__link.nav-link#v-pills-tab-04(data-bs-toggle="pill" data-bs-target="#v-pills-04" type="button" role="tab" aria-controls="v-pills-04" aria-selected="false") Доп. оборудование
      .tab-content.tabs__tab-content#v-pills-tabContent
        .tab-pane.fade.show.active#v-pills-01(role="tabpanel" aria-labelledby="v-pills-tab-01" tabindex="0")
          +catalog-slider
            +catalog-slider-item(class='w-[382px]')
              +product-card({
                src: '/img/TB604-cabin.jpg'
              })
            +catalog-slider-item(class='w-[479px]')
              +product-card({
                src: '/img/TE244-cabin.jpg'
              })
            +catalog-slider-item(class='w-[479px]')
              +product-card({
                src: '/img/TB604-cabin.jpg'
              })
            +catalog-slider-item(class='w-[479px]')
              +product-card({
                src: '/img/TB604-cabin.jpg'
              })
            +catalog-slider-item(class='w-[382px]')
              +product-card({
                src: '/img/TB604-cabin.jpg'
              })
        .tab-pane.fade#v-pills-02(role="tabpanel" aria-labelledby="v-pills-tab-02" tabindex="0")
          +catalog-slider
            +catalog-slider-item(class='w-[382px]')
              +product-card({
                src: '/img/TB604-cabin.jpg'
              })
            +catalog-slider-item(class='w-[479px]')
              +product-card({
                src: '/img/TB604-cabin.jpg'
              })
            +catalog-slider-item(class='w-[479px]')
              +product-card({
                src: '/img/TB604-cabin.jpg'
              })
            +catalog-slider-item(class='w-[479px]')
              +product-card({
                src: '/img/TB604-cabin.jpg'
              })
            +catalog-slider-item(class='w-[382px]')
              +product-card({
                src: '/img/TB604-cabin.jpg'
              })
        .tab-pane.fade#v-pills-03(role="tabpanel" aria-labelledby="v-pills-tab-03" tabindex="0")
          +catalog-slider
            +catalog-slider-item(class='w-[382px]')
              +product-card({
                src: '/img/TB604-cabin.jpg'
              })
            +catalog-slider-item(class='w-[479px]')
              +product-card({
                src: '/img/TE244-cabin.jpg'
              })
            +catalog-slider-item(class='w-[479px]')
              +product-card({
                src: '/img/TB604-cabin.jpg'
              })
            +catalog-slider-item(class='w-[479px]')
              +product-card({
                src: '/img/TB604-cabin.jpg'
              })
            +catalog-slider-item(class='w-[382px]')
              +product-card({
                src: '/img/TB604-cabin.jpg'
              })
        .tab-pane.fade#v-pills-04(role="tabpanel" aria-labelledby="v-pills-tab-04" tabindex="0")
          +catalog-slider
            +catalog-slider-item(class='w-[382px]')
              +product-card({
                src: '/img/TE244-cabin.jpg'
              })
            +catalog-slider-item(class='w-[479px]')
              +product-card({
                src: '/img/TE244-cabin.jpg'
              })
            +catalog-slider-item(class='w-[479px]')
              +product-card({
                src: '/img/TB604-cabin.jpg'
              })
            +catalog-slider-item(class='w-[479px]')
              +product-card({
                src: '/img/TB604-cabin.jpg'
              })
            +catalog-slider-item(class='w-[382px]')
              +product-card({
                src: '/img/TB604-cabin.jpg'
              })
  section.section-choose.section-container
    .section-title
      .section-title__num 03
      .section-title__caption Почему стоит выбрать <span>нашу компанию</span>
    .section-caption-lg Выгоды от сотрудничества<br> с&nbsp;<span>Авто Премиум</span>
    +features
     +features-item({
        icon_classes: 'fa-solid fa-tractor',
        title: 'Provide quality equipments',
        text: 'Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam es qui dolorem ipsum quia dolor sit amet consectetur.Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam es qui dolorem ipsum quia dolor sit amet consectetur.'
     })
     +features-item({
        icon_classes: 'fa-solid fa-truck-fast',
        title: 'Provide quality equipments',
        text: 'Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam es qui dolorem ipsum quia dolor sit amet consectetur.Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam es qui dolorem ipsum quia dolor sit amet consectetur.'
     })
     +features-item({
        icon_classes: 'fa-solid fa-forward',
        title: 'Provide quality equipments',
        text: 'Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam es qui dolorem ipsum quia dolor sit amet consectetur.Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam es qui dolorem ipsum quia dolor sit amet consectetur.'
     })
     +features-item({
        icon_classes: 'fa-solid fa-gear',
        title: 'Provide quality equipments',
        text: 'Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam es qui dolorem ipsum quia dolor sit amet consectetur.Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam es qui dolorem ipsum quia dolor sit amet consectetur.'
     })
  section.section-howtobuy.section-container#howtobuy(data-backtext='Купить')
    .section-title
      .section-title__num 04
      .section-title__caption Как купить трактор в <span>Авто Премиум</span>
      .info-list
        +info-list-item({
          icon_classes: 'fa-solid fa-magnifying-glass',
          title: 'Search your equipments',
          text: 'Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam es qui dolorem ipsum quia dolor sit amet consectetur.'
        })
        +info-list-item({
          icon_classes: 'fa-solid fa-circle-half-stroke',
          title: 'Compare your selection',
          text: 'Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam es qui dolorem ipsum quia dolor sit amet consectetur.'
        })
        +info-list-item({
          icon_classes: 'fa-solid fa-book',
          title: 'Book for rentals',
          text: 'Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam es qui dolorem ipsum quia dolor sit amet consectetur.'
        })

  section.section-about#aboutus(data-backtext='LOVOL')
      .about__img
        img(src='/img/TB754-cabin.png' alt='модель TB754')
      .about
        .section-container
          .about__title 25 YEARS OF UNDEFEATED SUCCESS
          .about__text Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam es qui dolorem ipsum quia dolor sit amet consectetur.Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam es qui dolorem ipsum quia dolor sit amet consectetur.
      .about__list.section-container
        +about-item ({
          icon_classes: 'fa-solid fa-chart-line',
          number: '28',
          caption: 'finished project'
        })
        +about-item ({
          icon_classes: 'fa-solid fa-user-tie',
          number: '18',
          caption: 'Year of experience'
        })
        +about-item ({
          icon_classes: 'fa-solid fa-sack-dollar',
          number: '18',
          caption: 'Investments'
        })
        +about-item ({
          icon_classes: 'fa-solid fa-users',
          number: '18',
          caption: 'Employees'
        })
  section#media
    h2 Фото/видео
  section#contacts
    h2 Контакты

block append page-bottom
  +modal({id: 'product-details', title: 'Товар 1'})
    +product-info
      .product-info__main
        .product-info__slider
          +product-slider-main()
            +product-item-main({src: '/img/TB604-cabin.jpg'})
            +product-item-main({src: '/img/TE244-cabin.jpg'})
            +product-item-main({src: '/img/TE244-no-cabin.jpg'})
            +product-item-main({src: '/img/TB604-cabin.jpg'})
            +product-item-main({src: '/img/TE244-cabin.jpg'})
          +product-slider-nav()
            +product-item-nav({src: '/img/TB604-cabin.jpg'})
            +product-item-nav({src: '/img/TE244-cabin.jpg'})
            +product-item-nav({src: '/img/TE244-no-cabin.jpg'})
            +product-item-nav({src: '/img/TB604-cabin.jpg'})
            +product-item-nav({src: '/img/TE244-cabin.jpg'})
        .product-info__title Caterpillar 345 JCB
        .product-info__btns
          +btn('Купить','secondary, buy')(class='product-info__buy')
          +btn('Рассчитать кредит','secondary,secondary-gray, credit')(class='product-info__buy')
        .product-info__short-desc The 35,000 to 39,000 lb excavator is primarily used for excavating or earthmoving tasks such as trenching, demolition clearing, foundation digging, general landscaping tasks or backfilling excavated areas.
        .product-info__status.product-info__status--in-stock Товар в наличии
        .product-info__full-desc
          .tabs.tabs--product-info
            .nav.nav-pills.tabs__nav(role="tablist" aria-orientation="vertical")
              .tabs__link.nav-link.active#v-pills-desc-tab(data-bs-toggle="pill" data-bs-target="#v-pills-desc" type="button" role="tab" aria-controls="v-pills-desc" aria-selected="true") Описание
              .tabs__link.nav-link#v-pills-data-tab(data-bs-toggle="pill" data-bs-target="#v-pills-data" type="button" role="tab" aria-controls="v-pills-data" aria-selected="false") Характеристики
            .tab-content.tabs__tab-content
              .tab-pane.fade.show.active#v-pills-desc(role="tabpanel" aria-labelledby="v-pills-desc-tab" tabindex="0")
                p Best Yanmar powered hydraulic excavator for rent.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laud antium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto be atae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.
                p Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam es qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit sed quia non numquam eius modiy.
              .tab-pane.fade#v-pills-data(role="tabpanel" aria-labelledby="v-pills-data-tab" tabindex="0")
                p Характеристики
      .product-info__add
        .product-info__price.product-price
          .product-price__title ЦЕНА
          .product-price__tagline с учетом НДС
          .product-price__value 14758493 <span>&#x20BD;</span>
        .product-info__consult.consult
          .consult__title Нужна консультация?
          p Наши специалисты ответят на любой интересующий вопрос
          +btn('Задать вопрос','submit')
