// В этом файле должны быть стили для БЭМ-блока media, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.media {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  margin-top: 40px;

  @media (min-width: $screen-xl) {
    display: flex;
    margin-top: 20px;
  }

  &__inner {
    max-width: 745px;
    margin-left: auto;
  }

  &__item {
    margin-bottom: 60px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $screen-md) {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: auto auto 1fr;
      grid-gap: 0 42px;
    }
  }

  &__img {
    margin-bottom: 30px;
    height: 210px;
    width: 100%;
    max-width: 480px;
    border-radius: 18px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 0;
      width: 233px;
      height: 233px;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 4;
    }
  }

  &__title {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 30px;
    color: $tw-gray-600;
    text-transform: uppercase;

    @media (min-width: $screen-md) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }

  &__text {
    margin-top: 15px;
    font-family: 'OpenSans';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    color: $tw-slate-400;

    @media (min-width: $screen-md) {
      margin-top: 25px;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }

  &__btn-more {
    margin-top: 20px;
    padding: 5px 0;
    font-family: 'OpenSans';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    color: $tw-gray-600;
    align-self: end;
    justify-self: start;

    &:hover,
    &:focus,
    &:active {
      color: #000;

      svg {
        fill: #000;
      }
    }

    @media (min-width: $screen-md) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }

  &__particles {
    display: none;

    @media (min-width: $screen-xl) {
      display: block;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      left: -40px;
      width: 430px;
      height: 430px;
    }
  }

  &__particles-inner {
    position: relative;
    width: 280px;
    height: 280px;

    @media (min-width: $screen-xl) {
      width: 390px;
      height: 390px;
    }
  }
}
