//- Все примеси в этом файле должны начинаться c имени блока (form-contacts)

mixin form-contacts(props={}, mods)

  //- Принимает:
  //-   props    {object} - параметры
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +form-contacts('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' form-contacts--' + modsList[i].trim();
      }
    }

  .form-contacts(class=allMods)&attributes(attributes)
    block
