// В этом файле должны быть стили для БЭМ-блока phone, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.phone {

  $block-name:                &; // #{$block-name}__element

  font-family: 'Oswald';
  font-size: 18px;
  font-weight: 700;
  line-height: 1;

  .page-header & {
    flex-shrink: 0;
    margin-left: auto;
    color: $tw-gray-600;

    @media (min-width: $screen-lg) {
      margin-top: -10px;
    }
  }

  svg {
    margin-right: 5px;

    @media (min-width: $screen-sm) {
      margin-right: 15px;
    }
  }

  a {
    display: flex;
    align-items: center;
    color: currentColor;
    text-decoration: none;

    .page-header & {
      color: $tw-gray-600;

      @media (max-width: ($menu-desktop-width - 1)) {
        margin-right: auto;
      }
    }

    &:hover {
      color: currentColor;

      .page-header & {
        color: $tw-gray-800;
      }
    }
  }

  &:hover,
  &:focus {
    color: currentColor;
  }

  &--top {
    display: none;
    // position: absolute;
    // bottom: 0;
    // padding-left: 48px;


    @media (min-width: $screen-lg) {
      // left: get-point(2, lg) - $screen-padding-lg;
      display: block;
    }

    // @media (min-width: $screen-xl) {
      // left: get-point(2, xl) - $screen-padding-xl;
    //   display: block;
    // }
  }

}
